.DS_Store
*.log

coverage
node_modules
build
public/assets
webpack-assets.json
webpack-stats.json

*.sublime-workspace

merge.js
mergeAndRunLocal.js
mergeSourceToWorkdir.js
mergeWorkdirToSource.js
workdir